body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.persons-container {
	display: flex;
	flex-wrap: wrap;
}

.person {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"av in in"
		"av in in"
	;
	width: 400px;
	margin: 1rem;
	background-color: #aaaaaaaa;
	border: 1px solid #dccf;
}

.avatar {
	grid-area: av;
}

.info {
	grid-area: in;
}

.person ul {
	list-style-type: none;
}

.person label {
	font-weight: bold;
	color: #000;
}
