form action="/albums/new" method="post"
  input type="text" name="title" placeholder="Album title"
  input type="number" name="artist_id" placeholder="Artist ID"
  input type="submit" value="Create album"
