h1 = result or ""

p Albumet som du har sökt efter heter #{result["Title"]}.
// p Artisten som du har sökt efter heter #{result["ArtistId"]}.
p Artisten som du har sökt efter heter #{artist["Name"]}.
