:root {
	--magic-number: 2vw;
}

* {
	color: #111015;
}


html {
	background-color: #f7edf0;
}

body{
	margin: 0;
	font-family: "Source Code Pro", monospace;
	font-weight: 1000;
	color: #fefefe;
	position: relative;
}

nav {
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav a, nav a:link {
	color: #111015;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 900;
	opacity: 0.5;
}


img {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 25vw;
	margin: 0 var(--magic-number) var(--magic-number) 0;
}



h1 {
	margin: var(--magic-number);
}

a {
	color: #40a0e5;
	transition: opacity;
	transition-duration: .2s;
}
a:hover { opacity: .4; }

form.page {
	width: 40%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

form input {
	margin-bottom: 1rem;
}

a, form.inline {
	display: inline-block;
	margin: 10px;
}

input, button {
	border-radius: .2rem;
	border: 1px solid black;
	color: #111015;
	padding-top: 0;
	transition: opacity;
	transition-duration: .2s;
}

input:hover, button:hover {
	opacity: .5;
}

.center {
	width: 80vw;
	margin: auto;
	text-align: center;
}
